.vscode/
clerk-local-testing/*
.DS_Store
buildspec.local.yml
codebuild_build.sh
merge-and-deploy.sh
output
*.pem
.env.prod
# *.sh
.env

claimo-packaged.yaml
cleanup.sh
changeset.sh        
start-dev.sh